
@{
    Layout = null;
}

<a href="/Default/Urunler/">Ürünler Sayfasına Git</a>

<h1>Merhaba Core Oop Projesi</h1>
<h3>Dersler devam ediyor...</h3>

<h1>Mesaj Listesi</h1>
<h1>---------------</h1>
<h2>@ViewBag.m1</h2>
<h2>@ViewBag.m2</h2>
<h2>@ViewBag.m3</h2>
